# .gitignore file to not upload data and venv to Github

*.csv
*.exe
*.xlsx

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log

venv/

.DS_Store
.ipynb_checkpoints/COVID Mortality Data Exploration-checkpoint.ipynb

Data/
